* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books {
  border: 2px solid black;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem ;
  margin: 0;
  
}

ul:nth-child(odd) {
  background-color: lightgray;
}

.addBook {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  align-items: center;
  margin: auto;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  
}



