* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books {
  border: 2px solid black;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0.1rem 2rem 0 2rem;
}

.remove-btn {
  
}

