* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books {
  border: 2px solid black;
  width: 95%;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem ;
  margin: 0;
  
}

ul:nth-child(odd) {
  background-color: lightgray;
}

.addBook {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  align-items: center;
  margin: auto;
}

hr {
  width: 35%;
  max-width: 7rem;
  margin: 3rem auto 1rem auto;
  border: 1px solid gray;
  background-color: gray;
}

input {
  width: 75%;
  max-width: 16rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}


button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.644);
  padding: 0.25rem
}

button:hover {
  background-color: rgba(211, 211, 211, 0.678);
}